@import './Palette.scss';

.nav-bar {
  position: absolute;
  top: 35%;
  left: 10px;
  display: block;

  @media (max-width: 767px) {
    display: none;
  }
}

.subcat-wrap {
  height: 8vh;
}

.subcat {
  font-size: 1em;
  color: $light-indigo;
  text-decoration: none;
  transition: .5s color;
}

// .subcat:fi= {
//   font-size: 1em;
//   color: $white;
//   text-decoration: none;
// }

.subcat:hover {
  font-size: 1.5em;
  text-decoration: none;
}

.subcat:active {
  color: white;
}

.subcat:active, .subcat:visited {
  color: white;
}

.subcat:focus, .subcat:visited {
  color: white;
}