@import './Palette.scss';

.nav-bar {
  position: absolute;
  top: 35%;
  left: 10px;
  display: block;

  @media (max-width: 767px) {
    display: none;
  }
}

.subcat-wrap {
  height: 8vh;
}

.subcat {
  font-size: 1em;
  color: $blue;
  text-decoration: none;

}

.subcat:hover {
  font-size: 1.5em;
  text-decoration: none;
}

.subcat:focus {
  font-size: 1.5em;
  text-decoration: none;
}