@import './Palette.scss';

.img70 {
  width: 70vw;
}

.img45 {
  height: 45vw;
}

.vh-100 {
  height: 100vh;
}

.auto-height {
  height: auto;
}

.text-indigo {
  color: $indigo;
}

.text-white {
  color: $white;
}

.text-white-60 {
  color: $white-60;
}

.extra-bold {
  font-weight: bolder;
}

.background {
  position: absolute;
  z-index: -1;
}
